<button *ngIf="cartItems.length > 0" (click)="emptyCart()">Tühjenda ostukorv</button>

<div *ngIf="cartItems.length == 0">
    <div>Osutkorv on tühi</div>
    <img src="assets/box.png" alt="ostukorv on tühi">
</div>

<div *ngFor="let cartItem of cartItems" class="item">
    <div>{{ cartItem.pealkiri }}</div>
    <div>{{ cartItem.hind }}</div>
    <img src="assets/apple.jpg" alt="Õun">
    <button (click)="deleteItemFromCart(cartItem)">X</button>
</div>

<div *ngIf="cartItems.length > 0">Ostukorvi summa on {{ sumOfCart }} €</div>





