<button (click)="onSortByTitleAsc()">Järjesta A-Z</button>
<button (click)="onSortByTitleDesc()">Järjesta Z-A</button>
<button (click)="onSortByPriceAsc()">Järjesta odavamast</button>
<button (click)="onSortByPriceDesc()">Järjesta kallimast</button>

<br><br><br>

<div *ngFor="let item of items" class="item">
    <div>{{ item.title }}</div>
    <div>{{ item.price }}</div>
    <img routerLink="ese/{{ item.id }}" src="{{ item.imgSrc }}" alt="tooted"><br>   
    <button (click)="onAddToCart(item)">{{ "Lisa ostukorvi" | translate }}</button>
    <br><br>
</div>


